{% extends "base.html" %}
{% block title %} Create{% endblock title %}
{% block heading %} Create Product {% endblock heading %} Create Product
{% block content %}

    <div id="responseMessage">
        
    </div>
    <form id="createProductForm">
        <div class="mb-3">
            <label for="productName" class="form-label">Product name</label>
            <input
                type="text"
                name="productName"
                id="productName"
                class="form-control"
                required
            />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
                type="text"
                name="price"
                id="price"
                class="form-control"
                required
            />
        </div>
        <div class="mb-3">
            <label for="stockQty" class="form-label">Stock Qty</label>
            <input
                type="text"
                name="stockQty"
                id="stockQty"
                class="form-control"
                required
            />
        </div>
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category</label>
            <select id="categoryId" name="categoryId" class="form-select" required>
                <option value="" selected disabled>Select category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.categoryName }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit"  class="btn btn-primary">Create</button>
    </form>
    <script src="/app/static/js/create.js"></script>
{% endblock  %}