{% extends "base.html" %}
{% block title %} Update{% endblock title %}
{% block heading %} Update Product {% endblock heading %} 
{% block content %}
    <div id="responseMessage"></div>
    <form id="updateProductForm" method="POST">
        <div class="mb-3">
            <label for="productId" class="form-label">Product Id</label>
            <input
                type="text"
                name="productId"
                id="productId"
                class="form-control"
                value="{{product.id}}"
                disabled
                required
            />
        </div>
        <div class="mb-3">
            <label for="productName" class="form-label">Product name</label>
            <input
                type="text"
                name="productName"
                id="productName"
                class="form-control"
                value="{{product.productName}}"
                required
            />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
                type="text"
                name="price"
                id="price"
                class="form-control"
                value="{{product.price}}"
                required
            />
        </div>
        <div class="mb-3">
            <label for="stockQty" class="form-label">Stock Qty</label>
            <input
                type="text"
                name="stockQty"
                id="stockQty"
                class="form-control"
                value="{{product.stockQty}}"
                required
            />
        </div>
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category</label>
            <select id="categoryId" name="categoryId" class="form-select" required>
                <option value=" {{current_category.id}} ">{{ current_category.categoryName }}</option>
                {% for category in categories %}
                    {% if not category.id == current_category.id  %}
                    <option value="{{ category.id }}">{{ category.categoryName }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit"  class="btn btn-success">Update</button>
    </form>
    <script src="/app/static/js/update.js"></script>
{% endblock  %}